.carousel-inner img {
  max-height: 91vh;
  object-fit: cover;
}

.logo {
  max-width: 12%;
}

#title {
  padding-bottom: 20%;
}

.collapse a {
  font-size: 110%;
}


#section-img img{
  object-fit: cover;
  width: 90%;
  height: 70%;
  border-radius: 22px;
background: #1b84c0;
box-shadow:  26px 26px 52px #1978af, 
             -26px -26px 52px #1d90d1;
}


@media (max-width: 500px){
  .carousel-inner img {
    max-height: 91vh;
    object-fit: cover;
  }
  
  .logo {
    max-width: 12%;
  }
  
  #title {
    padding-bottom: 80%;
  }
  
  .collapse a {
    font-size: 110%;
  }
  
}