{% extends 'bootstrap/base.html' %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/interval.js')}}"></script>
{{ super() }}
{% endblock %}

{% endblock %}