{% extends 'base.html' %}


{% block title %}
{{ super() }}
Home
{% endblock %}

{% block content %}
<!-- caroulsel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/pcs.jpg')}}" class="d-block w-100" alt="...">
            <div id="title" class="carousel-caption d-none d-md-block">
                <h1>¡Bienvenidos!</h1>
                <p>Al curso virtual de python</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/teclado.jpg')}}" class="d-block w-100" alt="...">
            <div id="title" class="carousel-caption d-none d-md-block">
                <h2>Aprenderas lo escencial de este lenguaje</h2>
                <h5>~ Solo existe una forma de no fracasar: nunca intentar ~</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ url_for('static', filename='img/code.jpg')}}" class="d-block w-100" alt="...">
            <div id="title" class="carousel-caption d-none d-md-block">
                <h3>~El futuro depende de lo que hagas hoy~</h3>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /carousel -->

<!-- section-python -->
<div class="container">
    <div class="row">
        <div class="text-center col-lg-8 offset-lg-2">
            <h2 class="text-center pt-5">¿Por qué Python?</h2>
            <p class="text-justify">Python es un lenguaje de programacion interpretado cuya filosofia hace hincapie en
                una
                sintaxis muy limpia y un codigo muy legible, ademas es un lenguaje de programacion totalmente gratuito e
                interpretativo. Python es de codigo abierto, multiparadigma y multiplataforma, versatilidad a la hora de
                programar, sintaxis amigable.</p>
        </div>
    </div>

    <div class="row mt-5 mr-auto">
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename='img/iconpc.png')}}" class="d-block w-50 ml-auto" alt="...">
        </div>
        <div class="text-justify col-lg-4">
            <h2 class="text-justify mt-5">Aplicaciones de escritorio</h2>
            <p class="text-justify ">
                Este tipo de aplicaciones son las que se encuentran instaladas en un computador o USB, estas
                aplicaciones se
                pueden ejecutar sin internet. Python nos ofrece diferentes herramientas para crear estas aplicaciones,
                algunas de estas son: <br>
            </p>
            <ul>
                <li>PyQt / PySide</li>
                <li>PyGTK</li>
                <li>wxPython</li>
                <li>tkinter</li>
            </ul>
            <img src="" alt="">
        </div>
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename='img/iconwd.png')}}" class="d-block w-50 ml-auto" alt="...">
        </div>
        <div class="text-justify col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-justify mt-5">Desarrollo web</h2>
            <p>
                Python es un competidor en mundo back-end, sin embargo es una muy buena forma de empezar en este mundo,
                su mini framwork flask
                nos va permitir saber como funciona la web y poder diseñar páginas web facilmente. Claro despues de
                tener bases en HTML, CSS y JS.
                Ya despues podemos pasar a un framework más potente por parte de python como lo es Django.
            </p>
        </div>
    </div>
    <div class="row pt-5 mr-auto">
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename='img/iconds.png')}}" class="d-block w-50 ml-auto" alt="...">
        </div>
        <div class="text-justify col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-justify mt-5">Data science</h2>
            <p>
                Los datos son importantes hoy en día, con python tenemos la mayor gama de herramientas que nos van a
                permitir manipular datos con
                el fin de dar valor a algo. Suena complejo pero esta rama es la base de la inteligencia artificial.
            </p>
            <img src="" alt="">
        </div>
        <div class="col-lg-2">
            <img src="{{ url_for('static', filename='img/iconai.png')}}" class="d-block w-50 ml-auto" alt="...">
        </div>
        <div class="text-justify col-lg-4 col-md-12 col-sm-12">
            <h2 class="text-justify mt-5">Artificial Intelligence(AI)</h2>
            <p>
                Es uno de los temas más sonados. A quién no le gustaría poder enseñar a una máquina a pensar casí como
                lo
                hacemos nosotros. La AI está en todo lado cuando compartimos un post en facebook, cuando hacemos una
                compra por internet. Es uno de los
                campos más dificiles pero también más apasionantes.
            </p>
        </div>
    </div>
</div>
<!-- /section-python -->

<!-- section-imagesSchool -->
<div class="container">
    <h2 class="mb-5 mt-5 text-center">Colegio Ofelia Uribe de Acosta</h2>
    <div class="row text-center mt-5">
        <div class="col-lg-4">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-USJx-kuDQHA%2FT6YQxIax6QI%2FAAAAAAAAASM%2FHnI64XiaeA8%2Fs1600%2Fimagen%2Bdel%2Bcolegio.jpg&f=1&nofb=1" alt="..." class="img-thumbnail">
        </div>
        <div class="col-lg-4">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F_vK-22gWmdkQ%2FTGQ88EtdrfI%2FAAAAAAAAAAY%2FG60c85_hwKU%2FS220%2FESCUDO%2Bofelia.JPG&f=1&nofb=1" alt="..." class="img-thumbnail">
        </div>
        <div class="col-lg-4">
            <img src="https://www.secciona2.com/wp-content/uploads/2019/06/Obra-de-Arquitectura-Colegio-Ofelia-Uribe-Acosta-11.jpg" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>
<!-- /section-imagesSchool -->



<!-- school-map -->
<div class="container ">
    <div class="row">
        <div class="col-11 text-center offset-lg-1 mt-5">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1672.3277523193549!2d-74.1025880233364!3d4.5056555445806605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa3cafb0a19f9%3A0x8ca4c6c77e58d3ab!2sColegio%20Ofelia%20Uribe%20de%20Acosta!5e0!3m2!1sen!2sco!4v1599065088387!5m2!1sen!2sco"
                width="90%" height="200%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>
<!-- /school-map -->
{% endblock %}