{% extends 'base.html' %}
{% block title %}
{{ super() }} About
{% endblock %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ url_for('static', filename='img/about.jpeg') }}" class="d-block w-100" alt="...">
            <div id="title" class="carousel-caption">
                <h1>¡Conocenos!</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5 mb-5 text-center">

        <div id="sebastian" class="col-lg-4">
            <img src="{{ url_for('static', filename='img/sebastian.jpg')}}" alt="Sebastian" id='img-seb'
                class="img-fluid">
            <div id="sebastian2"></div>
        </div>

        <div id="javier" class="col-lg-4">
            <img src="{{ url_for('static', filename='img/javier.jpg')}}" alt="Javier" id='img-jav' class="img-fluid">
            <div id="javier2"></div>
        </div>

        <div id="santiago" class="col-lg-4">
            <img src="{{ url_for('static', filename='img/santiago.jpg')}}" alt="Santiago" id='img-san'
                class="img-fluid">
            <div id="santiago2"></div>
        </div>
    </div>
</div>
{% endblock %}