<!-- Footer -->
<div class="container-fluid mt-5" id="first-section-footer">
    <footer class="page-footer font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="row">
            {% if current_user.is_authenticated %}
            <div class="col">
                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1">JSJ Python</h5>
                    </li>
                </ul>
                <!-- Call to action -->
            </div>
            {% else %}
            <div class="col">
                <!-- Call to action -->
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <h5 class="mb-1">Registrate</h5>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ url_for('auth.register') }}" class="btn btn-outline-white btn-rounded">Registro!</a>
                    </li>
                </ul>
                <!-- Call to action -->
            </div>
            {% endif %}
        </div>
    </footer>
</div>
<div id="second-section-footer" class="container-fluid">
    <footer class="page-footer font-small unique-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="row">
            <div class="col">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright: JSJ PYTHON
                </div>
                <!-- Copyright -->
            </div>
        </div>
    </footer>

</div>


<!-- Footer -->