{% extends 'base.html' %} {% block title %} {{ super() }} {% endblock %} {% block content %}






<div class="container">
    <div class="row text-center mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="display-4"> Bienvenidos al módulo 3</h1>
            <blockquote class="blockquote">
                <p>No hay que adaptarse al cambio, hay que generarlo.</p>
                <footer class="blockquote-footer">Andy Stalman</footer>
            </blockquote>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Clase 1: Listas</h4>
                </div>
                <div class="card-body h-100">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/class.jpg') }}"
                            alt="Card image cap">
                    </button>
                    <p class="card-text text-justify">En este video verás Listas, un tipo de estructura de datos mutable y que la podemos utilizar para colocar diferentes tipos de datos</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Clase 2: Diccionarios</h4>
                </div>
                <div class="card-body h-100">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter2">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/class.jpg') }}"
                            alt="Card image cap">
                    </button>
                    <p class="card-text text-justify">En este video verás Diccionarios, un tipo de estructura similar a un JSON, que es como se mueve la información en la web.</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Clase 3: Tuplas</h4>
                </div>
                <div class="card-body h-100">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter3">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/class.jpg') }}"
                            alt="Card image cap">
                    </button>
                    <p class="card-text text-justify">Las tuplas son estructura de datos muy dinámicas y que nos permiten tener eficiencia en nuestro código, a pesar de ser un tipo de datos no mutable.</p>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12">

        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Clase 4: Funciones</h4>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter4">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/class.jpg') }}"
                            alt="Card image cap">
                    </button>
                    <p class="card-text text-justify">En este video verás Funciones. Son bloques de código que nos permiten hacer tareas sin necesidad de repetir código y volver nuestro código más fácil de ver.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <img src="{{ url_for('static', filename='img/actividad3.png') }}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>


<!-- Modal 1 -->
<div id="exampleModalCenter" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clase 1: Listas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive w-100 embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y5yxly2wAfU?list=TLPQMjUxMDIwMjAWqpvzmbSBBg"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cerrarVideo" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->


<!-- Modal -->
<div id="exampleModalCenter2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clase 2: Diccionarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive w-100 embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1_wsEGyjmS8?list=TLPQMjUxMDIwMjAWqpvzmbSBBg"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cerrarVideo" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /modal -->


<!-- Modal -->
<div id="exampleModalCenter3" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clase 3: Tuplas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive w-100 embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MbEYCKmCKX4?list=TLPQMjUxMDIwMjAWqpvzmbSBBg"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cerrarVideo" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- /modal -->



<!-- Modal -->
<div id="exampleModalCenter4" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clase 4: Funciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive w-100 embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u1c63EwsUrc?list=TLPQMjUxMDIwMjAWqpvzmbSBBg"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cerrarVideo" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /modal -->

{% endblock %}